@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https: //files.bdph.me/reset.css");
:root {
  --clr-dark: #141414;
  --clr-light: #FAFAFA;
  --clr-gray: #313337;
  --clr-dark-green: #667C82;
  --clr-light-green: #A9CEC2;
}

body {
  font-family: "Raleway",sans-serif;
  min-height: 100vh;
  background: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 100px;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
}

.navBar .profil {
  margin-left: 40px;
}

.navBar .profil img {
  width: 50px;
  height: 50px;
}

#home {
  height: 100vh;
}

#home .intro {
  position: absolute;
  top: 35%;
  left: 63%;
}

#home .intro h2 {
  font-weight: 900;
  font-size: 2.87rem;
  line-height: 3.43rem;
  margin: 10px;
}

#home .intro h3 {
  width: 417px;
  height: 44px;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.68rem;
  margin: 10px;
}

#home .intro p {
  width: 348px;
  height: 81px;
  font-weight: 500;
  font-size: 1.12rem;
  line-height: 1.68rem;
  margin: 10px;
}

#home .nangaim {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 36px;
  top: 55%;
  left: 10%;
}

#home .nangaim span {
  font-weight: 900;
  font-size: 7.5rem;
  line-height: 5.37rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
}

#home .rectangleUp {
  position: absolute;
  width: 30vw;
  height: 60vh;
  left: 40%;
  top: 0px;
  background-color: var(--clr-dark-green);
  z-index: -1;
}

#home .retangleDown1 {
  position: absolute;
  background-color: var(--clr-gray);
  height: 79vh;
  left: 10%;
  top: 200px;
  width: 25vw;
  z-index: -2;
}

#home .retangleDown2 {
  position: absolute;
  background-color: var(--clr-gray);
  width: 60vw;
  height: 50vh;
  left: 35%;
  top: 200px;
  z-index: -2;
}

#about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 120px;
  margin-right: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#about .content .me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

#about .content .me .aboutMe {
  width: 480px;
}

#about .content .me .aboutMe h2 {
  font-weight: 900;
  font-size: 2.87rem;
  line-height: 3.43rem;
  margin: 0;
}

#about .content .me .aboutMe .aboutMe_description {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.68rem;
}

#about .content .me .aboutMe .aboutMe_curriculum {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.68rem;
}

#about .content .me .curriculum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about .content .me .curriculum h2 {
  font-weight: 900;
  font-size: 2.87rem;
  line-height: 3.43rem;
  margin: 0;
}

#about .content .me .curriculum .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 0;
  gap: 90px;
}

#about .content .me .curriculum .second .year {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.68rem;
}

#about .content .me .curriculum .second .place .place_name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.68rem;
}

#about .content .me .curriculum .second .place .place_name P {
  margin: 0;
}

#about .content .me .curriculum .second .place .place_location {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.68rem;
}

#about .content .me .curriculum .second .place .place_location p {
  margin: 0;
}

#about .content .me .curriculum .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 0;
  gap: 90px;
}

#about .content .me .curriculum .first .year {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.68rem;
}

#about .content .me .curriculum .first .place .place_name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.68rem;
}

#about .content .me .curriculum .first .place .place_name P {
  margin: 0;
}

#about .content .me .curriculum .first .place .place_location {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.68rem;
}

#about .content .me .curriculum .first .place .place_location p {
  margin: 0;
}

#about .content .content_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

#about .content .content_image img {
  width: 320px;
  height: 491px;
}

#about .content .content_image a {
  position: relative;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.68rem;
  text-decoration: none;
  color: var(--clr-light);
}

#about .content .content_image a:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: var(--clr-light-green);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#about .content .content_image a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#projects {
  min-height: 100vh;
  margin: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .glider-contain h2 {
  font-weight: 900;
  font-size: 2.87rem;
  line-height: 3.43rem;
  margin: 0 0 50px 0;
}

#projects .glider-contain p {
  margin: 0 0 150px 0;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.9rem;
}

#projects .glider-contain .glider .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .glider-contain .glider .slide a {
  text-decoration: none;
  color: var(--clr-light);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.9rem;
  margin-top: 10px;
}

#projects .glider-contain .glider .slide p {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.9rem;
  margin-bottom: 10px;
}

#projects .glider-contain .glider .slide .avatar {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#contacts {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 120px;
}

#contacts .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 150px;
}

#contacts .all .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 72px;
}

#contacts .all .skills h2 {
  margin: 0;
  font-weight: 900;
  font-size: 2.87rem;
  line-height: 3.43rem;
}

#contacts .all .skills .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 78px;
}

#contacts .all .skills .content .up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 78px;
}

#contacts .all .skills .content .up span {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
}

#contacts .all .skills .content .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 78px;
}

#contacts .all .skills .content .down span {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.93rem;
}

#contacts .all .contacts {
  width: 60%;
}

#contacts .all .contacts h2 {
  margin: 0;
  font-weight: 900;
  font-size: 2.87rem;
  line-height: 3.43rem;
}

#contacts .all .contacts p {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.68rem;
}

#contacts .all .contacts a {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.68rem;
  text-decoration: none;
  color: var(--clr-light);
}

#contacts .all .contacts .contacts_link {
  margin-top: 36px;
}

#contacts .all .contacts .contacts_link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
  position: absolute;
}

#contacts .all .contacts .contacts_link ul li {
  list-style: none;
}

#contacts .all .contacts .contacts_link ul li .medias-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid var(--clr-dark-green);
  background-color: var(--clr-dark-green);
  margin: 0;
}

#contacts .all .contacts .contacts_link ul li .medias-btn .icones {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
}

#contacts .all .contacts .contacts_link ul li .medias-btn:hover .icones {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

#contacts .all .contacts .contacts_link ul li .medias-btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-light-green);
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 2;
}

#contacts .all .contacts .contacts_link ul li .medias-btn:hover::before {
  top: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.reveal [class*="reveal-"] {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  opacity: 0;
}

.reveal-visible [class*="reveal-"] {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.reveal-visible .reveal-2 {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.reveal-visible .reveal-3 {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

@media screen and (max-width: 1200px) {
  #home .intro {
    left: 50%;
  }
}

@media screen and (max-width: 900px) {
  #home .intro {
    left: 30%;
  }
  #home .nangaim {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .navBar {
    padding: 0 20px;
    position: relative;
  }
  .navBar .profil {
    margin: 0;
  }
  .navBar .profil img {
    width: 40px;
    height: 40px;
  }
  #home {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    max-width: 100vw;
    z-index: -3;
    padding: 20px;
  }
  #home .intro {
    position: relative;
    left: 0;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #home .intro h2 {
    width: 100%;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.715rem;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  #home .intro h3 {
    width: 100%;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.34rem;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  #home .intro p {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  #home .nangaim {
    display: none;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 36px;
    top: 55%;
    left: 10%;
  }
  #home .nangaim span {
    font-weight: 900;
    font-size: 3rem;
    line-height: 5.37rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px white;
  }
  #home .rectangleUp {
    display: none;
    position: absolute;
    width: 20vh;
    height: 30vh;
    left: 40%;
    top: 0;
    background-color: var(--clr-dark-green);
    z-index: -1;
  }
  #home .retangleDown1 {
    display: none;
    position: absolute;
    background-color: var(--clr-gray);
    height: 30vh;
    left: 0;
    top: 200px;
    width: 20vh;
    z-index: -2;
  }
  #home .retangleDown2 {
    display: none;
    position: absolute;
    background-color: var(--clr-gray);
    width: 26.2vh;
    height: 41.9vh;
    left: 40%;
    top: 10%;
    z-index: -2;
  }
  #about {
    min-height: 100vh;
    min-width: 100vw;
    display: block;
    margin: 0;
  }
  #about .content {
    position: relative;
    display: block;
    width: 90%;
    margin-left: 20px;
  }
  #about .content .me {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  #about .content .me .aboutMe {
    width: 100%;
  }
  #about .content .me .aboutMe h2 {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.715rem;
    margin: 0;
  }
  #about .content .me .aboutMe .aboutMe_description {
    width: 100%;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.68rem;
  }
  #about .content .me .aboutMe .aboutMe_curriculum {
    width: 100%;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.68rem;
  }
  #about .content .curriculum {
    margin-bottom: 20px;
  }
  #about .content .curriculum .first {
    display: block;
  }
  #about .content .curriculum .first .year p {
    white-space: nowrap;
  }
  #projects {
    margin: 20px;
  }
  #contacts {
    min-height: 100vh;
    padding: 0 0 0 20px;
    margin: 0;
  }
  #contacts .all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 100px;
    width: 100%;
  }
  #contacts .all .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 72px;
    width: 100%;
  }
  #contacts .all .skills h2 {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.2em;
  }
  #contacts .all .skills .content {
    gap: 40px;
  }
  #contacts .all .skills .content .up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }
  #contacts .all .skills .content .up span {
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 1rem;
  }
  #contacts .all .skills .content .down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }
  #contacts .all .skills .content .down span {
    font-weight: 700;
    font-size: 1rem;
  }
  #contacts .all .contacts {
    width: 80%;
  }
  #contacts .all .contacts h2 {
    margin: 0;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.715rem;
  }
  #contacts .all .contacts p {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.68rem;
  }
  #contacts .all .contacts a {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.715rem;
    text-decoration: none;
    color: var(--clr-light);
  }
  #contacts .all .contacts .contacts_link {
    margin-top: 36px;
  }
  #contacts .all .contacts .contacts_link ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    position: absolute;
  }
  #contacts .all .contacts .contacts_link ul li {
    list-style: none;
  }
  #contacts .all .contacts .contacts_link ul li .medias-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid var(--clr-dark-green);
    background-color: var(--clr-dark-green);
    margin: 0;
  }
  #contacts .all .contacts .contacts_link ul li .medias-btn .icones {
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 3;
  }
  #contacts .all .contacts .contacts_link ul li .medias-btn:hover .icones {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  #contacts .all .contacts .contacts_link ul li .medias-btn::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-light-green);
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 2;
  }
  #contacts .all .contacts .contacts_link ul li .medias-btn:hover::before {
    top: 0;
  }
  #about .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */