@font-face{
    font-family: 'Circular';
    font-weight: 200;
    src: url("./font/Circular-Light.woff2") format("woff2");
}

@font-face{
    font-family: 'Circular';
    font-weight: 300;
    src: url("./font/Circular-Book.woff2") format("woff2");
}

@font-face{
    font-family: 'Circular';
    font-weight: 400;
    src: url("./font/Circular-Medium.woff2") format("woff2");
}

@font-face{
    font-family: 'Circular';
    font-weight: 600;
    src: url("./font/Circular-Bold.woff2") format("woff2");
}

@font-face{
    font-family: 'Circular';
    font-weight: 800;
    src: url("./font/Circular-Black.woff2") format("woff2");
}
