@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #141414;
  font-family: 'Raleway', sans-serif;
  padding: 0 2%;
  margin: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  color: white;
}

/* 
nav .profile h1 {
	margin-left: 10px;
	font-size: 15px;

} */

nav .profile {
  display: flex;
  align-items: center;
}

nav.menu-nav ul li.btn {
  list-style-type: none;
  display: inline-block;
}

nav.menu-nav ul li.btn a {
  color: #c4beb5;
  text-decoration: none;
  background-color: #141414;
  padding: 10px;
}

nav.menu-nav ul li.btn:hover a {
  color: #141414;
  background-color: white;
  transition: 0.3s all;
}

.content {
  color: white;
  margin: 4%;
  margin-top: 5%;
  max-width: 80%;
}

.content h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 10rem;
  line-height: 9rem;
}

.content h2 {
  text-transform: uppercase;
  color: #888;
  font-size: 3rem;
}

.content p {
  font-size: 2rem;
}
